@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
header {
  @extend .col-lg-4;

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 4em;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  nav {
    font-weight: 300;
    font-size: 1.5em;

    text-align: center;
    text-transform: uppercase;

    li {
      margin: 8px 0;
    }
  }
}
